force-app/main/default/flows/Test_Flow_Input_MultiVar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test_Send_Multivalue_Flow_to_Apex</name>
        <label>Test Send Multivalue Flow to Apex</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>CallFlow_JoinVariables_Authentikar_test</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>varInputFlow1</name>
            <value>
                <elementReference>MultiValOppty</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>varInputFlow2</name>
            <value>
                <elementReference>MultiValAccnt</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Data_Test_Oppty</name>
        <label>Assign Data Test Oppty</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>MultiValOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetDataOppty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MultiValOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetDataOppty.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MultiValOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetDataOppty.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MultiValOppty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetDataOppty.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDataAccnt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDataTestAccnt</name>
        <label>Assign Data Test Accnt</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>MultiValAccnt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetDataAccnt.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MultiValAccnt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetDataAccnt.Email_Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_Send_Multivalue_Flow_to_Apex</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Test Flow Input MultiVar {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Test Flow Input MultiVar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetDataAccnt</name>
        <label>GetDataAccnt</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDataTestAccnt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDataOppty.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDataOppty</name>
        <label>GetDataOppty</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Data_Test_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdOppty</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetDataOppty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>IdOppty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0063x00001bM33KAAS</stringValue>
        </value>
    </variables>
    <variables>
        <name>IdOpptyObject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>MultiValAccnt</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MultiValOppty</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
